.page-item.active .page-link,
blockquote {
  border-color: #e5ebe6;
}

@media (min-width: 992px) {
  .site-nav ul li:first-child a,
  .book .inner,
  .bb-bigbook {
    border-color: #e5ebe6;
  }
}

.cover-title {
  color: currentColor;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.5);
}

.profile .card-body,
.section-block .title {
  color: currentColor;
}

.cover,
.section-block .title::before,
.profile::before,
.profile .card-body,
.timeline-item::before,
.loader,
.page-item.active .page-link,
.progress-bar {
  background-color: #e5ebe6;
}

.btn-floating {
  background-color: #b6fff8;
  color: #000 !important;
}

a:hover,
a:focus,
.info-list li span,
.page-link,
.single .post-content > a,
.single .post-content > p a {
    color: #009688;
}

.page-item.active .page-link,
.single .post-content > a:hover,
.single .post-content > p a:hover {
    color: currentColor;
}